<div ng-controller='AboutCtrl'>
	<ion-content class="about bg-figuras">
		<div class="logo-frame small p-top-8 p-bottom-4">
  			<img src="images/logo.png" alt="Logo"/>
	  	</div>

	  	<div class="h-space">
	  		<p class="text-center">{{fixedLiterals.p1}}</p>

	  		<p class="text-center">{{fixedLiterals.p2}}</p>
	  	</div>

  		<ul class="h-space p-top-3 icon-list">
  			<li class="text-left icon-text-block">
  				<span class="icon rounded fa fa-arrow-up"></span><span class="text">{{fixedLiterals.tip1}}</span>
  			</li>
  			<li class="text-right icon-text-block">
  				<span class="icon rounded fa fa-book"></span><span class="text">{{fixedLiterals.tip2}}</span>
  			</li>
  			<li class="text-left icon-text-block">
  				<span class="icon rounded ion-waterdrop"></span><span class="text">{{fixedLiterals.tip3}}</span>
  			</li>
  		</ul>

  		<div class="h-space p-top-1 p-bottom-3">
  			<p class="text-center">...{{fixedLiterals.p3}}</p>
  		</div>

  		<span class="tri-separator"></span>

  		<div class="steps-block h-space light">
  			<h2 class="light text-center">{{fixedLiterals.inst_title}}</h2>

  			<div class="icon-text-block m-top-2 small">
  				<span class="rounded">1</span><h3 class="text light">{{fixedLiterals.inst1}}</h3>
  			</div>

  			<p class="p-top-1">{{fixedLiterals.inst1_1}}</p>

  			<p>{{fixedLiterals.inst1_2}}</p>

  			<p>{{fixedLiterals.inst1_3}}</p>


  			<div class="icon-text-block m-top-4 small">
  				<span class="rounded">2</span><h3 class="text light">{{fixedLiterals.inst2_title}}</h3>
  			</div>

  			<p class="p-top-1">{{fixedLiterals.inst2_1}}</p>

  			<div class="icon-text-block m-top-4 small">
  				<span class="rounded">3</span><h3 class="text light">{{fixedLiterals.inst3_title}}</h3>
  			</div>

  			<p class="p-top-1">{{fixedLiterals.inst3_1}}</p>

        <p>{{fixedLiterals.inst3_2}}</p>
  		</div>

  		<span class="tri-separator-down"></span>

      <div class="h-space text-center p-top-3">
        <img class="worko-logo" src="images/worko_logo.png" alt="Logo Workoholics"/>
        <p>Comunicación y Proyectos Digitales</p>
        <div class="dots p-bottom-1">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

  		<div class="h-space">
  			<p class="text-center">{{fixedLiterals.worko1}}</p>

        <a class="text-center block light" target="_blank" href="http://www.workoholics.es">www.workoholics.es</a>
  		</div>


	</ion-content>
</div>