<div class="firstUseSlider" ng-controller="firstUseSlider">
	<ion-slide-box class="home-slider" show-pager="true" >
	  <ion-slide class="bg-dark">
	  	<div class="h-space p-top-3">
	    	<div class="logo-frame big p-top-2 p-bottom-2">
	  			<img src="images/logo.png" alt="Logo"/>
		  	</div>
	    	<h2 class="text-center light">{{fixedLiterals.firstUse1}}</h2>	
	    </div>
	  </ion-slide>
	  <ion-slide class="bg-turquesa">
	  	<div class="h-space p-top-3">
	    	<div class="logo-frame big p-top-2 p-bottom-2">
	  			<img src="images/icon_reto.png" alt="Logo"/>
		  	</div>
	    	<h2 class="text-center light">{{fixedLiterals.firstUse2}}</h2>	
	    	<p class="text-center">{{fixedLiterals.firstUse2_1}}</p>	
	    </div>
		
	  </ion-slide>
	  <ion-slide class="bg-rosa">
	    <div class="h-space p-top-3">
	    	<div class="logo-frame big p-top-2 p-bottom-2">
	  			<img src="images/icon_mente.png" alt="Logo"/>
		  	</div>
		  	<h2 class="text-center light">{{fixedLiterals.firstUse3}}</h2>	
	    	<p class="text-center">{{fixedLiterals.firstUse3_1}}</p>	
	    </div>
	  </ion-slide>
	  <ion-slide class="bg-verde">
	    <div class="h-space p-top-3">
	    	<div class="logo-frame big p-top-2 p-bottom-2">
	  			<img src="images/icon_motiva.png" alt="Logo"/>
		  	</div>
	    	<h2 class="text-center light">{{fixedLiterals.firstUse4}}</h2>	
	    	<p class="text-center">{{fixedLiterals.firstUse4_1}}</p>	
	    </div>
	  </ion-slide>
	</ion-slide-box>
	<button ng-click='contentManager.show(appMap.challengeNew)' class="button button-ohitu-light button-start button-block destacado">{{fixedLiterals.start}}</button>	
</div>
