<div ng-controller="LoginController">
	<!-- Contenido inicio no logueado -->
	<ion-content class="bg-dark start" ng-show="contentManager.subviewActive==='start'">

	  	<div class="logo-frame big p-top-9 p-bottom-4">
  			<img src="images/logo.png" alt="Logo"/>
	  	</div>

  		<button ng-show="online" ng-click="change(appMap.enter,resetInputs)" class="button button-ohitu-light button-block destacado">{{fixedLiterals.enter}}</button>
  		<button ng-show="online" ng-click="change(appMap.new,resetInputs)" class="button button-ohitu-dark button-block">{{fixedLiterals.newUser}}</button>

  		<div class="h-space text-center" ng-show="!online">
  			<p class="alert-error"><span class="icon ion-sad"></span>{{fixedLiterals.offline}}</p>
  			<button ng-click="reload()" class="button button-ohitu-light m-top-2">{{fixedLiterals.retry}}</button>
  		</div>

  	</ion-content>

  	<!-- Contenido del login-->
  	<ion-content class="bg-dark login" ng-show="contentManager.subviewActive==='enter'">
  		
  		<!--<button class="button back-button ion-chevron-left" ng-click="contentManager.show('start')"></button>-->
  	
  		<div class="logo-frame big p-top-9 p-bottom-4">
  			<img src="images/logo.png" alt="Logo"/>
	  	</div>

	  	<!-- Formulario Login-->
	  	<div class="h-space" ng-show="loginValidationMessage!==null">
  			<p class="alert-error"><span class="icon ion-sad"></span>{{loginValidationMessage}}</p>
  		</div>
	  	<form novalidate ng-submit="login.do()">
		  	<div class="list list-inset">
		  		<label class="item item-input">
		  			<input type = 'text' placeholder="{{fixedLiterals.userOrEmail}}" ng-model="login.user" value=''/>
		  		</label>
		  		<label class="item item-input">
		  			<input type = 'password' placeholder="{{fixedLiterals.password}}" ng-model="login.password" value=''/>
		  		</label>
		  	</div>
		
			<!-- Aciones login-->
			<div class="row">
				<div class="col col-50">
	  				<button type="button" ng-click="change(appMap.start)" class="button button-ohitu-dark button-block">{{fixedLiterals.back}}</button>
	  			</div>
				<div class="col col-50">
	  				<input type="submit" value="{{fixedLiterals.enter}}" class="button button-ohitu-light destacado button-block"/>
	  			</div>
	  		</div>
	  		<div class="text-center p-top-1 p-bottom-3">
	  			<a ng-click="change('forgot',resetInputs)" class="forgot">{{fixedLiterals.forgotClaim}}</a>
	  		</div>
	  	</form>


  	</ion-content>

  	<!-- Contenido de nuevo usuario -->
  	<ion-content class="bg-light new" ng-show="contentManager.subviewActive==='new'">

  		<!--<button class="button back-button inverse ion-chevron-left" ng-click="contentManager.show('start')"></button>-->

  		<div class="logo-frame small p-top-3 p-bottom-2">
			<img src="images/new_user.png" alt="{{fixedLiterals.newUserTitle}}"/>
	  	</div>

	  	<h2 class="text-center light p-bottom-2">{{fixedLiterals.newUserTitle}}</h2>

	  	<div class="h-space" ng-show="newUserValidationMessage!==null">
  			<p class="alert-error"><span class="icon ion-sad"></span>{{newUserValidationMessage}}</p>
  		</div>
	  	<!-- Formulario Nuevo usuario-->
	  	<form ng-submit="newUser.create()">
		  	<div class="list list-inset">

		  		<label class="item item-input">
		  			<input type = 'text' placeholder="{{fixedLiterals.email}}" ng-model="newUser.email" value=''/>
		  		</label>
		  		<label class="item item-input">
		  			<input type = 'text' placeholder="{{fixedLiterals.user}}" ng-model="newUser.user" value=''/>
		  		</label>
		  		<label class="item item-input">
		  			<input type = 'password' placeholder="{{fixedLiterals.password}}" ng-model="newUser.pass" value=''/>
		  		</label>
		  		<label class="item item-input">
		  			<input type = 'password' placeholder="{{fixedLiterals.rptPassword}}" ng-model="newUser.rptPass" value=''/>
		  		</label>
		  	</div>
		


			<!-- Aciones Nuevo Usuario-->
			<div class="row">
				<div class="col col-50">
					<button type="button" ng-click="change(appMap.start)" class="button button-block button-ohitu-medium">{{fixedLiterals.back}}</button>
				</div>
	  			<div class="col col-50">
	  				<input type="submit" value="{{fixedLiterals.create}}" class="button button-ohitu-dark destacado button-block"/>
	  			</div>
	  		</div>
	  	</form>
  	</ion-content>

  	<!-- Contenido de recuperación de contraseña -->
  	<ion-content class="bg-light forgot" ng-show="contentManager.subviewActive==='forgot'">
  		<div class="logo-frame small p-top-4 p-bottom-4">
  			<img src="images/forgot.png" alt="Logo"/>
	  	</div>

  		<div class="logo p-bottom-0 h-space">
			<h2 class="light text-center">{{fixedLiterals.forgotTitle}}</h2>
			<p class="text-center">{{fixedLiterals.forgotSubtitle}}</p>
	  	</div>

	  	<div class="h-space" ng-show="forgotValidationMessage!==null">
  			<p class="alert-error"><span class="icon ion-sad"></span>{{forgotValidationMessage}}</p>
  		</div>

	  	<!-- Enviar contraseña-->
	  	<form ng-submit="forgotPassword.send()">
		  	<div class="list list-inset">
		  		<label class="item item-input">
		  			<input type = 'text' placeholder="{{fixedLiterals.email}}" ng-model="forgotPassword.email" value=''/>
		  		</label>
		  	</div>
		
			<!-- Aciones recuperacion contraseña-->
			<div class="row">
				<div class="col col-50">
	  				<button type="button" ng-click="change(appMap.start)" class="button button-ohitu-dark button-block">{{fixedLiterals.back}}</button>
	  			</div>
				<div class="col col-50">
	  				<input type="submit" value="{{fixedLiterals.send}}" class="button button-ohitu-dark destacado button-block"/>
	  			</div>
	  		</div>
	  	</form>
  	</ion-content>

  	<!-- Contenido de email contraseña enviado -->
  	<ion-content class="bg-light" ng-show="contentManager.subviewActive==='emailSent'">
  		<div class="logo-frame small p-top-4 p-bottom-4">
  			<img src="images/forgot.png" alt="Logo"/>
	  	</div>

  		<div class="h-space">
			<p>{{fixedLiterals.emailSentDesc}}</p>
	  	</div>
		
		<!-- Aciones de email contraseña enviado-->
	  	<div>
	  		<button ng-click="change(appMap.start)" class="button button-ohitu-dark button-block">{{fixedLiterals.return}}</button>
	  	</div>
  	</ion-content>

</div>