<div class="loader">
	<img class="img-loader" src="images/logo_hearth.png" alt="Logo Hearth"/>
</div>
<div id='home'>
	<div ng-show="contentManager.menu" class="main-menu bg-std {{contentManager.mainMenu.menuClass}}" ng-swipe-right="contentManager.mainMenu.toggle()">
		<button ng-click="contentManager.mainMenu.toggle()" class='main-menu-close button'>
			<span class="icon ohituicon-close"></span>
		</button>
		<ul class="main-menu-content">
			<li ng-click="contentManager.show(appMap.challenge)" ng:class="{true:'active', false:''}[contentManager.key==appMap.challenge.key]">{{fixedLiterals.menuChallengeList}}</li>
			<li ng-click="contentManager.show(appMap.challengeNew)" ng:class="{true:'active', false:''}[contentManager.key==appMap.challengeNew.key]">{{fixedLiterals.menuChallengeNew}}</li>
			<li ng-click="contentManager.show(appMap.about)" ng:class="{true:'active', false:''}[contentManager.key==appMap.about.key]">{{fixedLiterals.menuAbout}}</li>
			<li ng-click="contentManager.show(appMap.tips)" ng:class="{true:'active', false:''}[contentManager.key==appMap.tips.key]">{{fixedLiterals.menuTips}}</li>
			<li ng-click="contentManager.show(appMap.profile)" ng:class="{true:'active', false:''}[contentManager.key==appMap.profile.key]">{{fixedLiterals.menuProfile}}</li>
			<li ng-click="logout()">{{fixedLiterals.menuLogout}}</li>
			<!-- <li ng-click="contentManager.show({{item}})" ng:class="{true:'active', false:''}[contentManager.key==item.key]" ng-repeat="item in mainMenu.data.items">{{item.name}}</li> -->
		</ul>
	</div>

	<div class="bar bar-header bar-dark" ng-show="contentManager.bar">
		<button ng-hide="!contentManager.backButton" ng-click="change(contentManager.backButtonSubView)" class="button"><span class="icon ion-chevron-left"></span></button>
		<h1 class="title" ng-show="fixedLiterals[contentManager.subviewActive]!=''">{{fixedLiterals[contentManager.subviewActive]}}</h1>
		<h1 class="title" ng-show="fixedLiterals[contentManager.subviewActive]==undefined">{{fixedLiterals[contentManager.key]}}</h1>
		<button ng-hide="!contentManager.menu" ng-click="contentManager.mainMenu.toggle()" class="button"><span class="icon ohituicon-navicon"></span></button>
	</div>

	<div ng-swipe-left="contentManager.mainMenu.toggle();" ng-include="contentManager.url"></div>
</div>


